@media only screen and (min-width: 100px) and (max-width: 480px) { 

:root {
    --var-warnahitam-1:#000000;
    --var-warnahitam-2:#292929;
    --var-warnahitam-3:#4e4e4e;
    --var-warnahitam-4:#777777;
    --var-warnahitam-5:#a2a2a2;
    --var-warnahitam-6:#d0d0d0;
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
    background-color: var(--var-warnahitam-1);
}

body {
    background-color: var(--var-warnahitam-);
}

.CON-FRAME-LEFT {
    width: 100%;
    height: 100px;
    background-color: var(--var-warnahitam-1);
    padding: 10px;
    position: fixed;
    z-index: 1000;
}

.CON-NAV-H1 {
    color: white;
    font-size: 35px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 10px;
}

.CON-NAV {
    width: 100%;
    height: 300px;
    background-color: var(--var-warnahitam-1);
    margin-top: 100px;
    padding-left: 20px;
    display: inline;
    margin: 30px auto;
}

.NAV1 {
    text-decoration: none;
    color: white;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
        display: inline;
    margin-bottom: 15px;
    transition: 0.3s ease-out;
    margin-top: 20px;
}

.NAV1:hover {
    transform: translateX(10px);
    text-shadow: 0px 0px 5px white;
}

.CON-FRAME-RIGHT {
    background-color: var(--var-warnahitam-1);
    width: 75%;
    height: 800px;
    padding: 10px;
    color: white;
}

.CON-VIDEO {
  margin: 100px auto;
  width: 100%;
  height: 200px;
  position: relative;
    border-radius: 20px;
    margin-bottom: 10px;
}

.VIDEO {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  position: absolute;
  border-radius: 20px;
  margin-left: 70px;
}


.CON-RINFO {
    width:  80%;
    height: 100px;
    background-color: var(--var-warnahitam-);
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 100px;
}

.BOX-INF1 {
    width: 120px;
    height: 40px;
    background-color: var(--var-warnahitam-2);
    padding: 5px;
    line-height: 30px;
    font-size: 25px;
    font-family: "Barlow Condensed", sans-serif;
    text-align: center;
    border-radius: 15px;
    transition: 0.3s ease-out;
    margin-bottom: 10px;
}
.BOX-INF2 {
    width: 120px;
    height: 40px;
    background-color: var(--var-warnahitam-2);
    padding: 5px;
    line-height: 30px;
    font-size: 25px;
    font-family: "Barlow Condensed", sans-serif;
     text-align: center;
    border-radius: 15px;
    transition: 0.3s ease-out;
}
.BOX-INF3 {
    width: 120px;
    height: 40px;
    background-color: var(--var-warnahitam-2);
    padding: 5px;
    line-height: 30px;
    font-size: 25px;
    font-family: "Barlow Condensed", sans-serif;
     text-align: center;
    border-radius: 15px;
    transition: 0.3s ease-out;
}
.BOX-INF4 {
    width: 120px;
    height: 40px;
    background-color: var(--var-warnahitam-2);
    padding: 5px;
    line-height: 30px;
    font-size: 25px;
    font-family: "Barlow Condensed", sans-serif;
     text-align: center;
    border-radius: 15px;
    transition: 0.3s ease-out;
}
/* 
.BOX-INF1:hover {
    width: 130px;
    background-color: white;
    box-shadow: 0px 0px 5px white ;
    color: var(--var-warnahitam-1);
}
.BOX-INF2:hover {
    width: 130px;
    background-color: white;
    box-shadow: 0px 0px 5px white ;
    color: var(--var-warnahitam-1);
}
.BOX-INF3:hover {
    width: 130px;
    background-color: white;
    box-shadow: 0px 0px 5px white ;
    color: var(--var-warnahitam-1);
}
.BOX-INF4:hover {
    width: 130px;
    background-color: white;
    box-shadow: 0px 0px 5px white ;
    color: var(--var-warnahitam-1);
} */


.CON-RH1 {
    width: 90%;
    height: 150px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    margin: 10px auto;
    margin-top: 15px;
    color: white;
    font-size: 25px;
    font-family: "Barlow Condensed", sans-serif;
    text-align: center;
    position: absolute;
    z-index: 1;
    justify-self: center;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px var(--var-warnahitam-1);
    margin-left: 140px;
}

.T-RH1-1 {
      font-family: "Montserrat", sans-serif;
      font-size: 15px;
      color: white;
      margin-bottom: 20px;

}

.T-RH1-2 {
      font-family: "Montserrat", sans-serif;
      font-size: 5px;
      color: white;
      margin-bottom: 20px;
       font-family: "Oswald", sans-serif;
       margin-top: 20px;
}

.CON-JOURNEY {
    width: 100%;
    height: 1600px;
    margin: 100px auto;
}

.CON-JNR-H1 {
    width: 100%;
    height: 200px;
    color: white;
    font-size: 25px;
  font-family: "Google Sans", sans-serif;
  font-weight: bold;
  margin: 10px auto;
  margin-left: 50px;
}
.CON-JNR-H12 {
    width: 100%;
    height: 200px;
    color: white;
    font-size: 20px;
       font-family: "Oswald", sans-serif;
       font-weight: normal;
       text-align: justify;
}

.S-JNR-H12 {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: white;
    font-weight: normal;
    text-align: justify;
}

.CON-FLEX-JNR-TOUR {
    width: 100%;
    height: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.HR-JNR {
    margin-top: 150px;
    margin-left: 100px;
}

.BOX-TOUR1 { 
    width: 100%;
    height: 750px;
    background-color: var(--var-warnahitam-2);
    margin: 10px auto;
    border-radius: 15px;
    margin-top: 30px;
    margin-left: 100px;
}

.BOXX-TOUR {
    width: 290px ;
    height: 220px;
    background-color: var(--var-warnahitam-3);
    margin: 10px auto;
    border-radius: 15px;
}

.BOXX-CAP-TOUR {
    width: 280px;
    height: 50px;
    background-color: var(--var-warnahitam-4);
    margin: 5px auto;
    border-radius: 15px;
    padding: 5px;
}

.IMG-TOUR {
    width: 280px;
    height: 210px;
    margin: 5px auto;
    margin-left: 5px;
    border-radius: 15px;
}

.T-BOXX-TOUR {
      font-family: "Barlow Condensed", sans-serif;
      font-size: 30px;
      margin-left: 10px;
      margin-top: 5px;
      line-height: 35px;
      font-weight: bold;
      text-align: center;
}

.CON-LEVELS {
    width: 275px;
    height: 340px;
    margin: 10px auto;
    border-radius: 15px;
    padding: 5px;
}

.BOX-LEVEL {
    width: 95%;
    height: 70px;
    background-color: var(--var-warnahitam-4);
    margin: 10px auto;
    border-radius: 15px;
    font-size: 20px;
      font-family: "Google Sans", sans-serif;
      padding: 5px;
      font-weight: bold;
      padding-left: 15px;
}

.CLASS-HIGH {
font-family: "Montserrat", sans-serif;
   font-size: 14px;
   font-weight: normal;
   line-height: 23px;
}
.CLASS-HIGH2 {
font-family: "Montserrat", sans-serif;
   font-size: 14px;
   font-weight: normal;
   line-height: 23px;
}
.CLASS-HIGH3 {
font-family: "Montserrat", sans-serif;
   font-size: 13px;
   font-weight: normal;
   line-height: 23px;
}

.LEVELS {
      font-family: "Google Sans", sans-serif;
      font-size: 25px;
      color: white;
      width: 95%;
      height: 35px;
      line-height: 35px;
      background-color: var(--var-warnahitam-3);border-radius: 10px;
      padding: 5px;
      padding-left: 15px;
      margin: 5px auto;
}

.CONT-LEVELS { 
    width: 100%;
    height: 50px;
     font-family: "Google Sans", sans-serif;
      font-size: 35px;
      color: white;
           margin-top: 50px;
           margin-left: 100px;
}

.S-CONT-LEVELS {
     font-family: "Oswald", sans-serif;
     font-size: 25px;
     color: white;
     text-align: justify;
}
.CON-AIRLANE {
    width: 100%;
    height: 1000px;
      margin-top: 4100px;
}

.CON-ARN-H1 {
    width: 100%;
    height: 150px;
    color: white;
    font-size: 30px;
  font-family: "Google Sans", sans-serif;
  font-weight: bold;
}

.CON-ARN-H12 {
        width: 100%;
    height: 200px;
    color: white;
    font-size: 25px;
       font-weight: normal;
       text-align: justify;
       margin-left: 60px;
}

.S-ARN-H12 {
        font-family: "Montserrat", sans-serif;
    font-size: 15px;
    color: white;
    font-weight: normal;
    text-align: justify;
}

.HR-ARN {
    margin-top: 200px;
    margin-left: 100px;
}

.CON-FLEX-ARN1 {
    width: 90%;
    height: 520px;
    background-color: var(--var-warnahitam-2);
    border-radius: 15px;
    padding: 10px;
    display: block;
    margin-top: 100px;
    margin-left: 60px;
}

.CON-PIC-FLEX {
    width: 100%;
    height: 480px;
    margin-top: 10px;
    margin-left: 30px;
    border-radius: 15px;
    overflow: scroll;
    scrollbar-width: none;
}

.CON-TABLE {
    width: 100%;
    height: 500px;
    margin: 15px auto;
    border-radius: 15px;
    margin-top: 100px;
    margin-left: 0px;
}

.TABLE-H1 {
    width: 100%;
    height: 60px;
    background-color: var(--var-warnahitam-3);
    border-radius: 15px;
    font-family: "Barlow Condensed", sans-serif;
      font-size: 35px;
      margin-left: 10px;
      margin-top: 0px;
      line-height: 50px;
      font-weight: bold;
      text-align: center;
}

.T-ARN {
    width: 260px;
    height: 40px;
    background-color: var(--var-warnahitam-3);
    border-radius: 15px;
    margin: 5px auto;
    padding: 10px;
          font-family: "Barlow Condensed", sans-serif;
      font-size: 30px;
      margin-left: 10px;
      margin-top: 5px;
      line-height: 35px;
      font-weight: bold;
      text-align: center;
}

.IMG-ARN {
    width: 280px;
    height: 200px;
    margin: 5px auto;
    margin-left: 10px;
    border-radius: 10px;
}

.CON-PRICE {
    width: 260px;
    height: 200px;
    background-color: var(--var-warnahitam-3);
    border-radius: 15px;
       margin-left: 10px;
      margin-top: 5px;
         padding: 10px;
}

.BOX-P1 {
    width: 100% ;
    height: 60px;
    background-color: var(--var-warnahitam-4);
    border-radius: 10px;
    margin: 5px auto;
}

.T-P {
         font-family: "Oswald", sans-serif;
      line-height: 25px;
      font-size: 17px;
      color: white;
      text-align: left;
      margin-left: 10px;
      font-weight: normal;
}

.TABLE-SCHEDULE {
    width: 100%;
    height: 150px;
    margin: 10px auto;
    font-size: 15px;
    font-weight: normal;
    justify-self: center;
    margin-left: 0px;
    margin-bottom: 1000px;
    background-color: var(--var-warnahitam-2);
    border-radius: 15px;
    padding: 10px;
}

.TABLE-S {
    border: none;
    border-style: solid;
    font-size: 6px;
    box-sizing: border-box;
}

.CON-ATTEN {
    width: 100%;
    height: 50px;
    background-color: var(--var-warnahitam-2);
    justify-self: left;
    margin-top: 50PX;
    border-radius: 15px;
       font-family: "Barlow Condensed", sans-serif;
       font-size: 20px;
       padding: 5px;
       line-height: 45px;
       margin-left: 60px;
}

.CON-TASK {
    width: 100%;
    height: 230px;
    background-color: var(--var-warnahitam-2);
    margin: 50px auto;
    margin-bottom: 20px;
    border-radius: 15px;
    padding: 10px;
    margin-top: 350px;
    margin-left: 50px;
}

.CON-TASK-H1 {
    width: 95%;
    height: 40px;
    background-color: var(--var-warnahitam-3);
    border-radius: 10px;
    padding: 10px;
       font-family: "Barlow Condensed", sans-serif;
       text-align: center;
       font-size:35px ;
       line-height: 35px;
       font-weight: bold;
}

.TABLE-TASK {
    border-style: double;
    margin: 5px auto;
    font-size: 7px;
    font-family: "Smooch Sans", sans-serif;
    text-align: center;
    margin-top: 10px;
    box-sizing: content-box;
}

.BOXT-TASK1 {
    width: 95%;
    height:100% ;
    border-radius: 15px;
    flex: 1;
    justify-self: center;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
}
.BOXT-TASK2 {
    width: 95%;
    height:100% ;
    border-radius: 15px;
    flex: 1;
    justify-self: center;
    margin-left: 10px;
    display: flex;
        justify-content: space-between;
}

.BOXTK1 {
    width: 30px;
    height: 30px;
    background-color: var(--var-warnahitam-3);
    flex: 1;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    line-height:  30px;
}
.BOXTK2 {
    width: 30px;
    height: 30px;
    background-color: var(--var-warnahitam-4);
    flex: 5;
        border-radius: 10px;
        padding: 5px;
           font-family: "Barlow Condensed", sans-serif;
           font-size: 10px;
           text-align: justify;
           padding-bottom: 10px;
}

.CONT-TASK {
    width: 100%;
    height: 150px;
    border-radius: 15px;
    margin-top: 20px;
     display: flex;
    justify-content: space-between;
}

.CON-ORDER {
    width: 300px;
    height: 60px;
    background-color: var(--var-warnahitam-2);
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 150px;
    text-align: center;
    justify-self: center;
    transition: 0.5s ease-out;
    margin-left: 120px;
}

.CON-ORDER :hover {
    text-shadow: 0px 0px 5px white;
}

.LINK-ORDER {
      font-family: "Oswald", sans-serif;
        font-size: 30px;
        color: white;
        line-height: 50px;
        text-decoration: none;
}

.CON-ATTEN-RULE {
    width: 100%;
    height: 400px;
    justify-self: left;
    margin-top: 20px;
    border-radius: 15px;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 20px;
    padding: 5px;
    line-height: 20px;
        margin-left: 60px;
}

.CON-AUDIO {
    width: 100%;
    height: 55px;
    background-color: var(--var-warnahitam-2);
    margin-top: 25px;
    border-radius: 15px;
    padding: 10px;
    line-height: 50px;
    display: flex;
    justify-content: space-evenly;
    font-size: 10px;
}

.CON-REGULATIONS {
    width: 100%;
    height: 600px;
    margin: 350px auto;
}

.CON-RGN-H1 {
    width: 100%;
    height: 50px;
    background-color: var(--var-warnahitam-2);
    justify-self: left;
    margin-top: 50px;
    border-radius: 15px;
       font-family: "Barlow Condensed", sans-serif;
       font-size: 23px;
       padding: 5px;
       line-height: 45px;
       margin-bottom: 30px;
       margin-left: 60px;
}

.CON-FLEX-RGN {
    width: 100%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.BOX-RGN {
    width: 65%;
    height: 90px;
    background-color: var(--var-warnahitam-2);
    border-radius: 15px;
    margin-top: 10px;
    padding: 5px;
    font-size: 70px;
    line-height: 80px;
    text-align: center;
    font-weight: normal;
    margin-left: 130px;
}

.BOXT-RGN {
    width: 200%;
    height: 120px;
    background-color: var(--var-warnahitam-3);
    border-radius: 15px;
        font-family: "Oswald", sans-serif;
        color: white;
        font-size: 15px;
    text-align: justify;
    padding: 10px;
    margin-top: 10px;
    margin-left: 130px;
}

.CONT-RGN {
    width: 100%;
    height: 100px;
    background-color: var(--var-warnahitam-1);
    display: flex;
    justify-content: space-evenly;
    margin-top: 900px;
    justify-self: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-left: 100px;
}

.CONT-RGN2 {
    width: 100%;
    height: 100px;
    background-color: var(--var-warnahitam-1);
    display: flex;
    justify-content: space-evenly;
       font-family: "Smooch Sans", sans-serif;
       font-size: 25px;
       color: white;
       text-align: justify;
       margin-left: 60px;
       margin-top: 50px;
}

.BOXT-1 {
    width: 300px;
    height: 120px;
    background-color: var(--var-warnahitam-2);
    border-radius: 15px;
      font-family: "Barlow Condensed", sans-serif;
        text-align: left;
        font-size: 19px;
        padding: 10px;
        margin-right: 10px;
}

.CON-ALL-ABOUT-US {
    width: 100%;
    height: 200px;
    background-color: var(--var-warnahitam-1);
    margin-top: 200px;
    justify-content: center;
}

.BOX-ALL1 {
    width: 100%;
    height: 200px;
    padding: 10px;
    background-color: var(--var-warnahitam-1);
    margin-left: 60px;
}


.T-ALL1 {
 font-family: "Archivo Black", sans-serif;
      font-size: 25px;
      color: white;
      text-align: justify;
}
.S-T-ALL1 {
      font-family: "Smooch Sans", sans-serif;
      font-size: 20px;
      color: white;
      text-align: justify;
      line-height: 0px;
}

.CON-FLEX-ALL {
    width: 100%;
    height: 350px;
    background-color: var(--var-warnahitam-1);
    display: flex;
    justify-content: center;
    margin-left: 60px;
    margin-top: 100px;
}

.BOX-FL1 {
    width: 100%;
    height: 500px;
    background-color: var(--var-warnahitam-1);
    flex: 1;
    margin-right: 20px;
}
.BOX-FL2 {
    width: 100%;
    height: 500px;
    background-color: var(--var-warnahitam-1);
    flex: 1;
}

.BOX-FLW {
    width: 70%;
    height: 30px;
    background-color: var(--var-warnahitam-2);
    border-radius: 10px;
   font-family: "Smooch Sans", sans-serif;
     font-size: 30px;
     padding: 10px;
     color: white;
     margin-top: 5px;
}

.T-ADDRESS {
    width:  100%;
    height: 60px;
    background-color: var(--var-warnahitam-1);
    margin-top: 10px;
     font-family: "Smooch Sans", sans-serif;
     font-size: 20px;
}

.CON-ADDRESS {
    margin-top: 15px;
}

.CON-ALL-NAV {
     font-family: "Smooch Sans", sans-serif;
     font-size: 20px;
}

.LIST-ALL {
    margin-left: 20px;
}

.CON-LABELS {
     font-family: "Smooch Sans", sans-serif;
     font-size: 20px;
     margin-top: 25px;
     text-align: justify;
}
}




































@media only screen and (min-width: 481px) and (max-width: 1024px) { 

:root {
    --var-warnahitam-1:#000000;
    --var-warnahitam-2:#292929;
    --var-warnahitam-3:#4e4e4e;
    --var-warnahitam-4:#777777;
    --var-warnahitam-5:#a2a2a2;
    --var-warnahitam-6:#d0d0d0;
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
    background-color: var(--var-warnahitam-1);
}

body {
    background-color: var(--var-warnahitam-);
}

.CON-FRAME-LEFT {
    width: 100%;
    height: 130px;
    background-color: var(--var-warnahitam-1);
    padding: 10px;
    position: fixed;
    z-index: 1000;
}

.CON-NAV-H1 {
    color: white;
    font-size: 45px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 10px;
}

.CON-NAV {
    width: 100%;
    height: 300px;
    background-color: var(--var-warnahitam-1);
    margin-top: 100px;
    padding-left: 20px;
    display: inline;
    margin: 30px auto;
}

.NAV1 {
    text-decoration: none;
    color: white;
    font-family: "Oswald", sans-serif;
    font-size: 30px;
        display: inline;
    margin-bottom: 15px;
    transition: 0.3s ease-out;
    margin-top: 20px;
    margin-left: 10px;
}

.NAV1:hover {
    transform: translateX(10px);
    text-shadow: 0px 0px 5px white;
}

.CON-FRAME-RIGHT {
    background-color: var(--var-warnahitam-1);
    width: 75%;
    height: 800px;
    margin-left: 275px;
    padding: 10px;
    color: white;
}

.CON-VIDEO {
  margin: 30px auto;
  width: 100%;
  height: 500px;
  position: relative;
    border-radius: 20px;
    margin-top: 200px;
}

.VIDEO {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  position: absolute;
  border-radius: 20px;
}

.HR-JNR {
    margin-top: 50px;
}

.CON-RINFO {
    width:  100%;
    height: 100px;
    background-color: var(--var-warnahitam-);
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.BOX-INF1 {
    width: 120px;
    height: 30px;
    background-color: var(--var-warnahitam-2);
    padding: 10px;
    line-height: 30px;
    font-size: 20px;
    font-family: "Barlow Condensed", sans-serif;
    text-align: center;
    border-radius: 15px;
    transition: 0.3s ease-out;
}
.BOX-INF2 {
    width: 120px;
    height: 30px;
    background-color: var(--var-warnahitam-2);
    padding: 10px;
    line-height: 30px;
    font-size: 20px;
    font-family: "Barlow Condensed", sans-serif;
     text-align: center;
    border-radius: 15px;
    transition: 0.3s ease-out;
}
.BOX-INF3 {
    width: 120px;
    height: 30px;
    background-color: var(--var-warnahitam-2);
    padding: 10px;
    line-height: 30px;
    font-size: 20px;
    font-family: "Barlow Condensed", sans-serif;
     text-align: center;
    border-radius: 15px;
    transition: 0.3s ease-out;
}
.BOX-INF4 {
    width: 120px;
    height: 30px;
    background-color: var(--var-warnahitam-2);
    padding: 10px;
    line-height: 30px;
    font-size: 20px;
    font-family: "Barlow Condensed", sans-serif;
     text-align: center;
    border-radius: 15px;
    transition: 0.3s ease-out;
}

.BOX-INF1:hover {
    width: 130px;
    background-color: white;
    box-shadow: 0px 0px 5px white ;
    color: var(--var-warnahitam-1);
}
.BOX-INF2:hover {
    width: 130px;
    background-color: white;
    box-shadow: 0px 0px 5px white ;
    color: var(--var-warnahitam-1);
}
.BOX-INF3:hover {
    width: 130px;
    background-color: white;
    box-shadow: 0px 0px 5px white ;
    color: var(--var-warnahitam-1);
}
.BOX-INF4:hover {
    width: 130px;
    background-color: white;
    box-shadow: 0px 0px 5px white ;
    color: var(--var-warnahitam-1);
}


.CON-RH1 {
    width: 90%;
    height: 300px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    margin: 10px auto;
    margin-top: 100px;
    color: white;
    font-size: 75px;
    font-family: "Barlow Condensed", sans-serif;
    text-align: center;
    position: absolute;
    z-index: 1;
    justify-self: center;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px var(--var-warnahitam-1);
}

.T-RH1-1 {
      font-family: "Montserrat", sans-serif;
      font-size: 30px;
      color: white;
      margin-bottom: 20px;

}

.T-RH1-2 {
      font-family: "Montserrat", sans-serif;
      font-size: 15px;
      color: white;
      margin-bottom: 20px;
       font-family: "Oswald", sans-serif;
       margin-top: 20px;
}

.CON-JOURNEY {
    width: 100%;
    height: 1600px;
    margin-top: 100px;
}

.CON-JNR-H1 {
    width: 100%;
    height: 200px;
    color: white;
    font-size: 30px;
  font-family: "Google Sans", sans-serif;
  font-weight: bold;
}
.CON-JNR-H12 {
    width: 100%;
    height: 200px;
    color: white;
    font-size: 20px;
       font-family: "Oswald", sans-serif;
       font-weight: normal;
       text-align: justify;
}

.S-JNR-H12 {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    color: white;
    font-weight: normal;
    text-align: justify;
}

.CON-FLEX-JNR-TOUR {
    width: 100%;
    height: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.BOX-TOUR1 { 
    width: 300px;
    height: 750px;
    background-color: var(--var-warnahitam-2);
    margin: 10px auto;
    border-radius: 15px;
    margin-top: 25px;
}

.BOXX-TOUR {
    width: 290px ;
    height: 220px;
    background-color: var(--var-warnahitam-3);
    margin: 10px auto;
    border-radius: 15px;
}

.BOXX-CAP-TOUR {
    width: 280px;
    height: 50px;
    background-color: var(--var-warnahitam-4);
    margin: 5px auto;
    border-radius: 15px;
    padding: 5px;
}

.IMG-TOUR {
    width: 280px;
    height: 210px;
    margin: 5px auto;
    margin-left: 5px;
    border-radius: 15px;
}

.T-BOXX-TOUR {
      font-family: "Barlow Condensed", sans-serif;
      font-size: 30px;
      margin-left: 10px;
      margin-top: 5px;
      line-height: 35px;
      font-weight: bold;
      text-align: center;
}

.CON-LEVELS {
    width: 275px;
    height: 340px;
    margin: 10px auto;
    border-radius: 15px;
    padding: 5px;
}

.BOX-LEVEL {
    width: 95%;
    height: 70px;
    background-color: var(--var-warnahitam-4);
    margin: 10px auto;
    border-radius: 15px;
    font-size: 20px;
      font-family: "Google Sans", sans-serif;
      padding: 5px;
      font-weight: bold;
      padding-left: 15px;
}

.CLASS-HIGH {
font-family: "Montserrat", sans-serif;
   font-size: 14px;
   font-weight: normal;
   line-height: 23px;
}
.CLASS-HIGH2 {
font-family: "Montserrat", sans-serif;
   font-size: 14px;
   font-weight: normal;
   line-height: 23px;
}
.CLASS-HIGH3 {
font-family: "Montserrat", sans-serif;
   font-size: 13px;
   font-weight: normal;
   line-height: 23px;
}

.LEVELS {
      font-family: "Google Sans", sans-serif;
      font-size: 25px;
      color: white;
      width: 95%;
      height: 35px;
      line-height: 35px;
      background-color: var(--var-warnahitam-3);border-radius: 10px;
      padding: 5px;
      padding-left: 15px;
      margin: 5px auto;
}

.CONT-LEVELS { 
    width: 100%;
    height: 50px;
     font-family: "Google Sans", sans-serif;
      font-size: 25px;
      color: white;
           margin-top: 50px;
}

.S-CONT-LEVELS {
     font-family: "Oswald", sans-serif;
     font-size: 15px;
     color: white;
     text-align: justify;
}
.CON-AIRLANE {
    width: 100%;
    height: 1000px;
    margin-top: 400px;
      margin-top: 1500px;
}

.CON-ARN-H1 {
    width: 100%;
    height: 150px;
    color: white;
    font-size: 30px;
  font-family: "Google Sans", sans-serif;
  font-weight: bold;
}

.CON-ARN-H12 {
        width: 100%;
    height: 200px;
    color: white;
    font-size: 20px;
       font-weight: normal;
       text-align: justify;
}

.HR-ARN {
    margin-top: 50px;
}

.S-ARN-H12 {
        font-family: "Montserrat", sans-serif;
    font-size: 15px;
    color: white;
    font-weight: normal;
    text-align: justify;
}

.CON-FLEX-ARN1 {
    width: 330px;
    height: 520px;
    background-color: var(--var-warnahitam-2);
    border-radius: 15px;
    padding: 10px;
    display: block;
    margin-top: 50px;
    margin-left: 150px;
}

.CON-PIC-FLEX {
    width: 300px;
    height: 480px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 15px;
    overflow: scroll;
    scrollbar-width: none;
}

.CON-TABLE {
    width: 600px;
    height: 500px;
    margin: 100px auto;
    border-radius: 15px;
    margin-left: 0px;
}

.TABLE-H1 {
    width: 100%;
    height: 60px;
    background-color: var(--var-warnahitam-3);
    border-radius: 15px;
    font-family: "Barlow Condensed", sans-serif;
      font-size: 35px;
      margin-left: 10px;
      margin-top: 0px;
      line-height: 50px;
      font-weight: bold;
      text-align: center;
}

.T-ARN {
    width: 260px;
    height: 40px;
    background-color: var(--var-warnahitam-3);
    border-radius: 15px;
    margin: 5px auto;
    padding: 10px;
          font-family: "Barlow Condensed", sans-serif;
      font-size: 30px;
      margin-left: 10px;
      margin-top: 5px;
      line-height: 35px;
      font-weight: bold;
      text-align: center;
}

.IMG-ARN {
    width: 280px;
    height: 200px;
    margin: 5px auto;
    margin-left: 10px;
    border-radius: 10px;
}

.CON-PRICE {
    width: 260px;
    height: 200px;
    background-color: var(--var-warnahitam-3);
    border-radius: 15px;
       margin-left: 10px;
      margin-top: 5px;
         padding: 10px;
}

.BOX-P1 {
    width: 100% ;
    height: 60px;
    background-color: var(--var-warnahitam-4);
    border-radius: 10px;
    margin: 5px auto;
}

.T-P {
         font-family: "Oswald", sans-serif;
      line-height: 25px;
      font-size: 17px;
      color: white;
      text-align: left;
      margin-left: 10px;
      font-weight: normal;
}

.TABLE-SCHEDULE {
    width: 100%;
    height: 430px;
    margin: 10px auto;
    font-size: 15px;
    font-weight: normal;
    justify-self: center;
    margin-left: 0px;
    background-color: var(--var-warnahitam-2);
    padding: 10px;
    border-radius: 10px;
}

.TABLE-S {
    border: none;
    border-style: solid;
    margin-left: 0px;
}

.CON-ATTEN {
    width: 55%;
    height: 50px;
    background-color: var(--var-warnahitam-2);
    justify-self: left;
    margin-top: 50PX;
    border-radius: 15px;
       font-family: "Barlow Condensed", sans-serif;
       font-size: 23px;
       padding: 5px;
       line-height: 45px;
}

.CON-TASK {
    width: 100%;
    height: 430px;
    background-color: var(--var-warnahitam-2);
    margin: 50px auto;
    margin-bottom: 20px;
    border-radius: 15px;
    padding: 10px;
    margin-top: 700px;
}

.CON-TASK-H1 {
    width: 98%;
    height: 40px;
    background-color: var(--var-warnahitam-3);
    border-radius: 10px;
    padding: 10px;
       font-family: "Barlow Condensed", sans-serif;
       text-align: center;
       font-size:35px ;
       line-height: 35px;
       font-weight: bold;
}

.TABLE-TASK {
    border-style: double;
    margin: 5px auto;
    font-size: 20px;
    font-family: "Smooch Sans", sans-serif;
    text-align: center;
    box-sizing: border-box;
}

.BOXT-TASK1 {
    width: 95%;
    height:100% ;
    border-radius: 15px;
    flex: 1;
    justify-self: center;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
}
.BOXT-TASK2 {
    width: 95%;
    height:100% ;
    border-radius: 15px;
    flex: 1;
    justify-self: center;
    margin-left: 10px;
    display: flex;
        justify-content: space-between;
}

.BOXTK1 {
    width: 60px;
    height: 60px;
    background-color: var(--var-warnahitam-3);
    flex: 1;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 50px;
    padding: 10px;
    text-align: center;
    line-height:  60px;
}
.BOXTK2 {
    width: 60px;
    height: 60px;
    background-color: var(--var-warnahitam-4);
    flex: 5;
        border-radius: 10px;
        padding: 10px;
           font-family: "Barlow Condensed", sans-serif;
           font-size: 20px;
           text-align: justify;
}

.CONT-TASK {
    width: 100%;
    height: 150px;
    border-radius: 15px;
    margin-top: 20px;
     display: flex;
    justify-content: space-between;
}

.CON-ORDER {
    width: 300px;
    height: 60px;
    background-color: var(--var-warnahitam-2);
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 150px;
    text-align: center;
    justify-self: center;
    transition: 0.5s ease-out;
}

.CON-ORDER :hover {
    text-shadow: 0px 0px 5px white;
}

.LINK-ORDER {
      font-family: "Oswald", sans-serif;
        font-size: 30px;
        color: white;
        line-height: 50px;
        text-decoration: none;
}

.CON-ATTEN-RULE {
    width: 100%;
    height: 400px;
    justify-self: left;
    margin-top: 20px;
    border-radius: 15px;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 20px;
    padding: 5px;
    line-height: 20px;
}

.CON-AUDIO {
    width: 75%;
    height: 55px;
    background-color: var(--var-warnahitam-2);
    margin-top: 25px;
    border-radius: 15px;
    padding: 10px;
    line-height: 50px;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
}

.CON-REGULATIONS {
    width: 100%;
    height: 600px;
    margin: 100px auto;
    margin-top: 200px;
}

.CON-RGN-H1 {
    width: 75%;
    height: 50px;
    background-color: var(--var-warnahitam-2);
    justify-self: left;
    margin-top: 50PX;
    border-radius: 15px;
       font-family: "Barlow Condensed", sans-serif;
       font-size: 23px;
       padding: 5px;
       line-height: 45px;
       margin-bottom: 30px;
       margin-top: 100px;
}

.CON-FLEX-RGN {
    width: 100%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.BOX-RGN {
    width: 70px;
    height: 70px;
    background-color: var(--var-warnahitam-2);
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    font-weight: normal;
}

.BOXT-RGN {
    width: 75%;
    height: 70px;
    background-color: var(--var-warnahitam-3);
    border-radius: 15px;
    margin: 10px 15px ;
        font-family: "Oswald", sans-serif;
        color: white;
        font-size: 18px;
    text-align: justify;
    padding: 10px;
}

.CONT-RGN {
    width: 100%;
    height: 100px;
    background-color: var(--var-warnahitam-1);
    display: flex;
    justify-content: space-evenly;
}

.CONT-RGN2 {
    width: 100%;
    height: 100px;
    background-color: var(--var-warnahitam-1);
    display: flex;
    justify-content: space-evenly;
       font-family: "Smooch Sans", sans-serif;
       font-size: 25px;
       color: white;
       text-align: justify;
}

.BOXT-1 {
    width: 200px;
    height:50px;
    background-color: var(--var-warnahitam-2);
    border-radius: 15px;
      font-family: "Barlow Condensed", sans-serif;
        text-align: left;
        font-size: 19px;
        padding: 10px;
        margin-right: 10px;
}

.CON-ALL-ABOUT-US {
    width: 100%;
    height: 200px;
    background-color: var(--var-warnahitam-1);
    margin-top: 200px;
}

.BOX-ALL1 {
    width: 100%;
    height: 200px;
    padding: 10px;
    background-color: var(--var-warnahitam-1);
}


.T-ALL1 {
 font-family: "Archivo Black", sans-serif;
      font-size: 25px;
      color: white;
      text-align: justify;
}
.S-T-ALL1 {
      font-family: "Smooch Sans", sans-serif;
      font-size: 20px;
      color: white;
      text-align: justify;
      line-height: 0px;
}

.CON-FLEX-ALL {
    width: 100%;
    height: 350px;
    background-color: var(--var-warnahitam-1);
    display: flex;
    margin-bottom: 200px;
}

.BOX-FL1 {
    width: 100%;
    height: 500px;
    background-color: var(--var-warnahitam-1);
    flex: 1;
}
.BOX-FL2 {
    width: 100%;
    height: 500px;
    background-color: var(--var-warnahitam-1);
    flex: 1;
}

.BOX-FLW {
    width: 50%;
    height: 30px;
    background-color: var(--var-warnahitam-2);
    border-radius: 10px;
   font-family: "Smooch Sans", sans-serif;
     font-size: 30px;
     padding: 10px;
     color: white;
     margin-top: 5px;
}

.T-ADDRESS {
    width:  100%;
    height: 60px;
    background-color: var(--var-warnahitam-1);
    margin-top: 10px;
     font-family: "Smooch Sans", sans-serif;
     font-size: 20px;
}

.CON-ADDRESS {
    margin-top: 15px;
}

.CON-ALL-NAV {
     font-family: "Smooch Sans", sans-serif;
     font-size: 20px;
}

.LIST-ALL {
    margin-left: 20px;
}

.CON-LABELS {
     font-family: "Smooch Sans", sans-serif;
     font-size: 20px;
     margin-top: 25px;
     text-align: justify;
}
}


















@media only screen and (min-width: 1024px) and (max-width: 1366px) { 

:root {
    --var-warnahitam-1:#000000;
    --var-warnahitam-2:#292929;
    --var-warnahitam-3:#4e4e4e;
    --var-warnahitam-4:#777777;
    --var-warnahitam-5:#a2a2a2;
    --var-warnahitam-6:#d0d0d0;
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
    background-color: var(--var-warnahitam-1);
}

body {
    background-color: var(--var-warnahitam-);
}

.CON-FRAME-LEFT {
    width: 250px;
    height: 100vh;
    background-color: var(--var-warnahitam-1);
    position: fixed;
    padding: 10px;
}

.CON-NAV-H1 {
    color: white;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
}

.CON-NAV {
    width: 230px;
    height: 300px;
    background-color: var(--var-warnahitam-1);
    margin-top: 100px;
    padding-left: 20px;
}

.NAV1 {
    text-decoration: none;
    color: white;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    display: block;
    margin-bottom: 15px;
    transition: 0.3s ease-out;
}

.NAV1:hover {
    transform: translateX(10px);
    text-shadow: 0px 0px 5px white;
}

.CON-FRAME-RIGHT {
    background-color: var(--var-warnahitam-1);
    width: 75%;
    height: 800px;
    margin-left: 275px;
    padding: 10px;
    color: white;
}

.CON-VIDEO {
  margin: 30px auto;
  width: 100%;
  height: 500px;
  position: relative;
    border-radius: 20px;
}

.VIDEO {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  position: absolute;
  border-radius: 20px;
}


.CON-RINFO {
    width:  80%;
    height: 100px;
    background-color: var(--var-warnahitam-);
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.BOX-INF1 {
    width: 120px;
    height: 30px;
    background-color: var(--var-warnahitam-2);
    padding: 10px;
    line-height: 30px;
    font-size: 20px;
    font-family: "Barlow Condensed", sans-serif;
    text-align: center;
    border-radius: 15px;
    transition: 0.3s ease-out;
}
.BOX-INF2 {
    width: 120px;
    height: 30px;
    background-color: var(--var-warnahitam-2);
    padding: 10px;
    line-height: 30px;
    font-size: 20px;
    font-family: "Barlow Condensed", sans-serif;
     text-align: center;
    border-radius: 15px;
    transition: 0.3s ease-out;
}
.BOX-INF3 {
    width: 120px;
    height: 30px;
    background-color: var(--var-warnahitam-2);
    padding: 10px;
    line-height: 30px;
    font-size: 20px;
    font-family: "Barlow Condensed", sans-serif;
     text-align: center;
    border-radius: 15px;
    transition: 0.3s ease-out;
}
.BOX-INF4 {
    width: 120px;
    height: 30px;
    background-color: var(--var-warnahitam-2);
    padding: 10px;
    line-height: 30px;
    font-size: 20px;
    font-family: "Barlow Condensed", sans-serif;
     text-align: center;
    border-radius: 15px;
    transition: 0.3s ease-out;
}

.BOX-INF1:hover {
    width: 130px;
    background-color: white;
    box-shadow: 0px 0px 5px white ;
    color: var(--var-warnahitam-1);
}
.BOX-INF2:hover {
    width: 130px;
    background-color: white;
    box-shadow: 0px 0px 5px white ;
    color: var(--var-warnahitam-1);
}
.BOX-INF3:hover {
    width: 130px;
    background-color: white;
    box-shadow: 0px 0px 5px white ;
    color: var(--var-warnahitam-1);
}
.BOX-INF4:hover {
    width: 130px;
    background-color: white;
    box-shadow: 0px 0px 5px white ;
    color: var(--var-warnahitam-1);
}


.CON-RH1 {
    width: 90%;
    height: 300px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    margin: 10px auto;
    margin-top: 100px;
    color: white;
    font-size: 75px;
    font-family: "Barlow Condensed", sans-serif;
    text-align: center;
    position: absolute;
    z-index: 1;
    justify-self: center;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px var(--var-warnahitam-1);
}

.T-RH1-1 {
      font-family: "Montserrat", sans-serif;
      font-size: 30px;
      color: white;
      margin-bottom: 20px;

}

.T-RH1-2 {
      font-family: "Montserrat", sans-serif;
      font-size: 15px;
      color: white;
      margin-bottom: 20px;
       font-family: "Oswald", sans-serif;
       margin-top: 20px;
}

.CON-JOURNEY {
    width: 100%;
    height: 1600px;
    margin-top: 100px;
}

.CON-JNR-H1 {
    width: 100%;
    height: 200px;
    color: white;
    font-size: 30px;
  font-family: "Google Sans", sans-serif;
  font-weight: bold;
}
.CON-JNR-H12 {
    width: 100%;
    height: 200px;
    color: white;
    font-size: 20px;
       font-family: "Oswald", sans-serif;
       font-weight: normal;
       text-align: justify;
}

.S-JNR-H12 {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    color: white;
    font-weight: normal;
    text-align: justify;
}

.CON-FLEX-JNR-TOUR {
    width: 100%;
    height: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.BOX-TOUR1 { 
    width: 300px;
    height: 750px;
    background-color: var(--var-warnahitam-2);
    margin: 10px auto;
    border-radius: 15px;
    margin-top: 25px;
}

.BOXX-TOUR {
    width: 290px ;
    height: 220px;
    background-color: var(--var-warnahitam-3);
    margin: 10px auto;
    border-radius: 15px;
}

.BOXX-CAP-TOUR {
    width: 280px;
    height: 50px;
    background-color: var(--var-warnahitam-4);
    margin: 5px auto;
    border-radius: 15px;
    padding: 5px;
}

.IMG-TOUR {
    width: 280px;
    height: 210px;
    margin: 5px auto;
    margin-left: 5px;
    border-radius: 15px;
}

.T-BOXX-TOUR {
      font-family: "Barlow Condensed", sans-serif;
      font-size: 30px;
      margin-left: 10px;
      margin-top: 5px;
      line-height: 35px;
      font-weight: bold;
      text-align: center;
}

.CON-LEVELS {
    width: 275px;
    height: 340px;
    margin: 10px auto;
    border-radius: 15px;
    padding: 5px;
}

.BOX-LEVEL {
    width: 95%;
    height: 70px;
    background-color: var(--var-warnahitam-4);
    margin: 10px auto;
    border-radius: 15px;
    font-size: 20px;
      font-family: "Google Sans", sans-serif;
      padding: 5px;
      font-weight: bold;
      padding-left: 15px;
}

.CLASS-HIGH {
font-family: "Montserrat", sans-serif;
   font-size: 14px;
   font-weight: normal;
   line-height: 23px;
}
.CLASS-HIGH2 {
font-family: "Montserrat", sans-serif;
   font-size: 14px;
   font-weight: normal;
   line-height: 23px;
}
.CLASS-HIGH3 {
font-family: "Montserrat", sans-serif;
   font-size: 13px;
   font-weight: normal;
   line-height: 23px;
}

.LEVELS {
      font-family: "Google Sans", sans-serif;
      font-size: 25px;
      color: white;
      width: 95%;
      height: 35px;
      line-height: 35px;
      background-color: var(--var-warnahitam-3);border-radius: 10px;
      padding: 5px;
      padding-left: 15px;
      margin: 5px auto;
}

.CONT-LEVELS { 
    width: 100%;
    height: 50px;
     font-family: "Google Sans", sans-serif;
      font-size: 25px;
      color: white;
           margin-top: 50px;
}

.S-CONT-LEVELS {
     font-family: "Oswald", sans-serif;
     font-size: 15px;
     color: white;
     text-align: justify;
}
.CON-AIRLANE {
    width: 100%;
    height: 1000px;
    margin-top: 400px;
      margin-top: 500px;
}

.CON-ARN-H1 {
    width: 100%;
    height: 150px;
    color: white;
    font-size: 30px;
  font-family: "Google Sans", sans-serif;
  font-weight: bold;
}

.CON-ARN-H12 {
        width: 100%;
    height: 200px;
    color: white;
    font-size: 20px;
       font-weight: normal;
       text-align: justify;
}

.S-ARN-H12 {
        font-family: "Montserrat", sans-serif;
    font-size: 15px;
    color: white;
    font-weight: normal;
    text-align: justify;
}

.CON-FLEX-ARN1 {
    width: 100%;
    height: 520px;
    background-color: var(--var-warnahitam-2);
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.CON-PIC-FLEX {
    width: 300px;
    height: 480px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 15px;
    overflow: scroll;
    scrollbar-width: none;
}

.CON-TABLE {
    width: 600px;
    height: 500px;
    margin: 15px auto;
    border-radius: 15px;
}

.TABLE-H1 {
    width: 100%;
    height: 60px;
    background-color: var(--var-warnahitam-3);
    border-radius: 15px;
    font-family: "Barlow Condensed", sans-serif;
      font-size: 35px;
      margin-left: 10px;
      margin-top: 0px;
      line-height: 50px;
      font-weight: bold;
      text-align: center;
}

.T-ARN {
    width: 260px;
    height: 40px;
    background-color: var(--var-warnahitam-3);
    border-radius: 15px;
    margin: 5px auto;
    padding: 10px;
          font-family: "Barlow Condensed", sans-serif;
      font-size: 30px;
      margin-left: 10px;
      margin-top: 5px;
      line-height: 35px;
      font-weight: bold;
      text-align: center;
}

.IMG-ARN {
    width: 280px;
    height: 200px;
    margin: 5px auto;
    margin-left: 10px;
    border-radius: 10px;
}

.CON-PRICE {
    width: 260px;
    height: 200px;
    background-color: var(--var-warnahitam-3);
    border-radius: 15px;
       margin-left: 10px;
      margin-top: 5px;
         padding: 10px;
}

.BOX-P1 {
    width: 100% ;
    height: 60px;
    background-color: var(--var-warnahitam-4);
    border-radius: 10px;
    margin: 5px auto;
}

.T-P {
         font-family: "Oswald", sans-serif;
      line-height: 25px;
      font-size: 17px;
      color: white;
      text-align: left;
      margin-left: 10px;
      font-weight: normal;
}

.TABLE-SCHEDULE {
    width: 100%;
    height: 430px;
    margin: 10px auto;
    font-size: 15px;
    font-weight: normal;
    justify-self: center;
    margin-left: 10px;
}

.TABLE-S {
    border: none;
    border-style: solid;
}

.CON-ATTEN {
    width: 55%;
    height: 50px;
    background-color: var(--var-warnahitam-2);
    justify-self: left;
    margin-top: 50PX;
    border-radius: 15px;
       font-family: "Barlow Condensed", sans-serif;
       font-size: 23px;
       padding: 5px;
       line-height: 45px;
}

.CON-TASK {
    width: 100%;
    height: 330px;
    background-color: var(--var-warnahitam-2);
    margin: 50px auto;
    margin-bottom: 20px;
    border-radius: 15px;
    padding: 10px;
}

.CON-TASK-H1 {
    width: 98%;
    height: 40px;
    background-color: var(--var-warnahitam-3);
    border-radius: 10px;
    padding: 10px;
       font-family: "Barlow Condensed", sans-serif;
       text-align: center;
       font-size:35px ;
       line-height: 35px;
       font-weight: bold;
}

.TABLE-TASK {
    border-style: double;
    margin: 5px auto;
    font-size: 20px;
    font-family: "Smooch Sans", sans-serif;
    text-align: center;
}

.BOXT-TASK1 {
    width: 95%;
    height:100% ;
    border-radius: 15px;
    flex: 1;
    justify-self: center;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
}
.BOXT-TASK2 {
    width: 95%;
    height:100% ;
    border-radius: 15px;
    flex: 1;
    justify-self: center;
    margin-left: 10px;
    display: flex;
        justify-content: space-between;
}

.BOXTK1 {
    width: 60px;
    height: 60px;
    background-color: var(--var-warnahitam-3);
    flex: 1;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 50px;
    padding: 10px;
    text-align: center;
    line-height:  60px;
}
.BOXTK2 {
    width: 60px;
    height: 60px;
    background-color: var(--var-warnahitam-4);
    flex: 5;
        border-radius: 10px;
        padding: 10px;
           font-family: "Barlow Condensed", sans-serif;
           font-size: 20px;
           text-align: justify;
}

.CONT-TASK {
    width: 100%;
    height: 150px;
    border-radius: 15px;
    margin-top: 20px;
     display: flex;
    justify-content: space-between;
}

.CON-ORDER {
    width: 300px;
    height: 60px;
    background-color: var(--var-warnahitam-2);
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 150px;
    text-align: center;
    justify-self: center;
    transition: 0.5s ease-out;
}

.CON-ORDER :hover {
    text-shadow: 0px 0px 5px white;
}

.LINK-ORDER {
      font-family: "Oswald", sans-serif;
        font-size: 30px;
        color: white;
        line-height: 50px;
        text-decoration: none;
}

.CON-ATTEN-RULE {
    width: 100%;
    height: 400px;
    justify-self: left;
    margin-top: 20px;
    border-radius: 15px;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 20px;
    padding: 5px;
    line-height: 20px;
}

.CON-AUDIO {
    width: 60%;
    height: 55px;
    background-color: var(--var-warnahitam-2);
    margin-top: 25px;
    border-radius: 15px;
    padding: 10px;
    line-height: 50px;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
}

.CON-REGULATIONS {
    width: 100%;
    height: 600px;
    margin: 100px auto;
}

.CON-RGN-H1 {
    width: 55%;
    height: 50px;
    background-color: var(--var-warnahitam-2);
    justify-self: left;
    margin-top: 50PX;
    border-radius: 15px;
       font-family: "Barlow Condensed", sans-serif;
       font-size: 23px;
       padding: 5px;
       line-height: 45px;
       margin-bottom: 30px;
}

.CON-FLEX-RGN {
    width: 100%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.BOX-RGN {
    width: 70px;
    height: 70px;
    background-color: var(--var-warnahitam-2);
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    font-weight: normal;
}

.BOXT-RGN {
    width: 75%;
    height: 70px;
    background-color: var(--var-warnahitam-3);
    border-radius: 15px;
    margin: 10px 15px ;
        font-family: "Oswald", sans-serif;
        color: white;
        font-size: 18px;
    text-align: justify;
    padding: 10px;
}

.CONT-RGN {
    width: 100%;
    height: 100px;
    background-color: var(--var-warnahitam-1);
    display: flex;
    justify-content: space-evenly;
}

.CONT-RGN2 {
    width: 100%;
    height: 100px;
    background-color: var(--var-warnahitam-1);
    display: flex;
    justify-content: space-evenly;
       font-family: "Smooch Sans", sans-serif;
       font-size: 25px;
       color: white;
       text-align: justify;
}

.BOXT-1 {
    width: 200px;
    height:30px;
    background-color: var(--var-warnahitam-2);
    border-radius: 15px;
      font-family: "Barlow Condensed", sans-serif;
        text-align: left;
        font-size: 19px;
        padding: 10px;
}

.CON-ALL-ABOUT-US {
    width: 100%;
    height: 200px;
    background-color: var(--var-warnahitam-1);
    margin-top: 200px;
}

.BOX-ALL1 {
    width: 100%;
    height: 200px;
    padding: 10px;
    background-color: var(--var-warnahitam-1);
}


.T-ALL1 {
 font-family: "Archivo Black", sans-serif;
      font-size: 25px;
      color: white;
      text-align: justify;
}
.S-T-ALL1 {
      font-family: "Smooch Sans", sans-serif;
      font-size: 20px;
      color: white;
      text-align: justify;
      line-height: 0px;
}

.CON-FLEX-ALL {
    width: 100%;
    height: 350px;
    background-color: var(--var-warnahitam-1);
    display: flex;
}

.BOX-FL1 {
    width: 100%;
    height: 500px;
    background-color: var(--var-warnahitam-1);
    flex: 1;
}
.BOX-FL2 {
    width: 100%;
    height: 500px;
    background-color: var(--var-warnahitam-1);
    flex: 1;
}

.BOX-FLW {
    width: 30%;
    height: 30px;
    background-color: var(--var-warnahitam-2);
    border-radius: 10px;
   font-family: "Smooch Sans", sans-serif;
     font-size: 30px;
     padding: 10px;
     color: white;
     margin-top: 5px;
}

.T-ADDRESS {
    width:  100%;
    height: 60px;
    background-color: var(--var-warnahitam-1);
    margin-top: 10px;
     font-family: "Smooch Sans", sans-serif;
     font-size: 20px;
}

.CON-ADDRESS {
    margin-top: 15px;
}

.CON-ALL-NAV {
     font-family: "Smooch Sans", sans-serif;
     font-size: 20px;
}

.LIST-ALL {
    margin-left: 20px;
}

.CON-LABELS {
     font-family: "Smooch Sans", sans-serif;
     font-size: 20px;
     margin-top: 25px;
     text-align: justify;
}
}