:root {
    --var-warnahitam-1:#000000;
    --var-warnahitam-2:#292929;
    --var-warnahitam-3:#4e4e4e;
    --var-warnahitam-4:#777777;
    --var-warnahitam-5:#a2a2a2;
    --var-warnahitam-6:#d0d0d0;
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
    background-color: var(--var-warnahitam-1);
}

body {
    background-color: var(--var-warnahitam-);
}

.CON-NAV {
    width: 100%;
    height: 100px;
    background-color: var(--var-warnahitam-1);
    display: flex;
    box-shadow: 0px 0px 5px black;
}

.CON-H1 {
    flex: 3;
        font-family: "Barlow Condensed", sans-serif;
        font-size: 40px;
        line-height: 100px;
        width: 100%;
        height: 100%;
        color: white;
        text-align: center;
}

.BACK {
    flex: 1;
    width: 100%;
    height: 100%;
   font-family: "Barlow Condensed", sans-serif;
        font-size: 40px;
    color: white;
    text-align: right;
    transition: 0.4s ease-out;
    line-height: 100px;
}

.BACK :hover {
    text-shadow: 0px 0px 5px white;
}

.BACK, a {
        text-decoration: none;
        color: white;
}

.CON-FORM {
    width: 90%;
    height: 1050px;
    background-color: var(--var-warnahitam-2);
    border-radius: 15px;
    margin:10px auto;
    padding: 15px;
}

legend {
  font-family: "Smooch Sans", sans-serif;
    color: white;
    font-size: 30px;
}

fieldset {
    border-radius: 20px;
}

.CON-FORM1 {
    width: 97%;
    height: 430px;
    background-color: var(--var-warnahitam-3);
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.INP-FORM1 {
    height: 50px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 7px;
    border: none;
    padding-left: 10px;
    font-family: "Courier Prime", monospace;
    font-size: 15px;
}

.T-FORM1 {
      font-family: "Smooch Sans", sans-serif;
    color: white;
    font-size: 25px;
}

.CON-FORM2 {
    width: 97%;
    height: 530px;
    background-color: var(--var-warnahitam-3);
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.INP-FORM2 {
    height: 50px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 7px;
    border: none;
    padding-left: 10px;
    font-family: "Courier Prime", monospace;
    font-size: 15px;
}

.T-FORM2 {
     font-family: "Smooch Sans", sans-serif;
    color: white;
    font-size: 25px;
}

.CON-AGREEMENTS {
    width:75%;
    height: 120px;
    background-color: var(--var-warnahitam-2);
    border-radius: 15px;
    margin: 15px auto;
    padding: 20px;
}

.T-AGREE {
   font-family: "Courier Prime", monospace;
    font-size: 17px;
    color: white;
    text-align: justify;
}

.BTN {
    width: 60%;
    height: 50px;
    background-color: var(--var-warnahitam-2);
    border-radius: 10px;
    border: none;
      font-family: "Barlow Condensed", sans-serif;
        font-size: 40px;
    color: white;
    margin: 10px auto;
    margin-left: 250px;
    padding-bottom: 10px;
}
.BTN-TIC {
    width: 30%;
    height: 50px;
    background-color: var(--var-warnahitam-2);
    border-radius: 10px;
    border: none;
      font-family: "Barlow Condensed", sans-serif;
        font-size: 40px;
    color: white;
    margin: 10px auto;
    margin-left: 450px;
    padding-bottom: 10px;
    margin-bottom: 200px;
}

.CON-PAY {
    width: 50%;
    height: 50px;
    background-color: var(--var-warnahitam-3);
    border-radius: 15px;
    margin: 100px auto;
       font-family: "Courier Prime", monospace;
    font-size: 50px;
    color: white;
    text-align: center;
    padding: 20px;
    line-height: 60px ;
    margin-bottom: 10px;
}

.T-PAY {
      font-family: "Barlow Condensed", sans-serif;
        font-size: 20px;
    color: white;
    text-align: center;
    margin: 30px 300px;
}
.S-T-PAY {
  font-family: "Smooch Sans", sans-serif;
        font-size: 20px;
    color: white;
    text-align: center;
}


